<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>xyz.troublor.troubkit.ssh-server</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>71B83D3E-EF1F-401C-A548-BE72B420F7E4</key>
      <array/>
      <key>78CD5B59-191D-4FD0-95CD-7F3A9FFC4D96</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>ABDB2A97-A0A2-47B2-B7A9-E06C2A77B863</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>9210581F-B18A-4505-8E5E-3211E8DB5033</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>C1F152B6-BA31-4C09-9A0E-1BC63B766A5A</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>ABDB2A97-A0A2-47B2-B7A9-E06C2A77B863</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>148AF002-262F-4B7B-8D49-3F4CB397492F</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>sourceoutputuid</key>
          <string>4A961379-94B9-4F2B-855C-4A5DF5405402</string>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>EC4F7BB5-0344-4435-8B50-B71608C4F067</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>BEA25ED1-AF10-40F2-AA1C-909BDDA47A05</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>F71D835D-F0B8-4A96-B958-24830C4B6522</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>sourceoutputuid</key>
          <string>90638443-618B-4D70-9261-670115E95915</string>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>71B83D3E-EF1F-401C-A548-BE72B420F7E4</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>71B83D3E-EF1F-401C-A548-BE72B420F7E4</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>sourceoutputuid</key>
          <string>99FFCB90-4A7A-401E-B76B-9E050CAF036F</string>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>C1F152B6-BA31-4C09-9A0E-1BC63B766A5A</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>EE0297B8-9226-4000-A4AA-9C77BC5E2AC1</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>EE0297B8-9226-4000-A4AA-9C77BC5E2AC1</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BEA25ED1-AF10-40F2-AA1C-909BDDA47A05</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>F71D835D-F0B8-4A96-B958-24830C4B6522</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>78CD5B59-191D-4FD0-95CD-7F3A9FFC4D96</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Aaron @Troublor</string>
    <key>description</key>
    <string/>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>@troubkit/ssh-server</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>query=$1

if [ -z "$query" ]
then
	echo -n true
else
	echo -n false
fi</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>78CD5B59-191D-4FD0-95CD-7F3A9FFC4D96</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>lastpathcomponent</key>
          <false/>
          <key>onlyshowifquerypopulated</key>
          <false/>
          <key>removeextension</key>
          <false/>
          <key>text</key>
          <string/>
          <key>title</key>
          <string>{var:split1} success</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>148AF002-262F-4B7B-8D49-3F4CB397492F</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>query=$@

./node_modules/.bin/run-node ./bin/run $@ -q</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>F71D835D-F0B8-4A96-B958-24830C4B6522</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string/>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>true</string>
              <key>outputlabel</key>
              <string>success</string>
              <key>uid</key>
              <string>4A961379-94B9-4F2B-855C-4A5DF5405402</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>else</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>ABDB2A97-A0A2-47B2-B7A9-E06C2A77B863</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alignment</key>
          <integer>0</integer>
          <key>backgroundcolor</key>
          <string/>
          <key>fadespeed</key>
          <integer>0</integer>
          <key>fillmode</key>
          <integer>0</integer>
          <key>font</key>
          <string/>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>largetypetext</key>
          <string>{query}</string>
          <key>textcolor</key>
          <string/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.largetype</string>
        <key>uid</key>
        <string>EC4F7BB5-0344-4435-8B50-B71608C4F067</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>ss</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string/>
          <key>script</key>
          <string>./node_modules/.bin/run-node lib/alfred.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string>Usage: ss [shell | copy | port:open | port:close]</string>
          <key>title</key>
          <string>@troubkit/ssh-server tool</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>9210581F-B18A-4505-8E5E-3211E8DB5033</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string>{var:split1}</string>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>port:open</string>
              <key>outputlabel</key>
              <string>port:open</string>
              <key>uid</key>
              <string>99FFCB90-4A7A-401E-B76B-9E050CAF036F</string>
            </dict>
            <dict>
              <key>inputstring</key>
              <string>{var:split1}</string>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>port:close</string>
              <key>outputlabel</key>
              <string>port:close</string>
              <key>uid</key>
              <string>90638443-618B-4D70-9261-670115E95915</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>else</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>BEA25ED1-AF10-40F2-AA1C-909BDDA47A05</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>delimiter</key>
          <string> </string>
          <key>trimarguments</key>
          <true/>
          <key>variableprefix</key>
          <string>split</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.split</string>
        <key>uid</key>
        <string>C1F152B6-BA31-4C09-9A0E-1BC63B766A5A</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>type</key>
        <string>alfred.workflow.utility.junction</string>
        <key>uid</key>
        <string>EE0297B8-9226-4000-A4AA-9C77BC5E2AC1</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>escaping</key>
          <integer>0</integer>
          <key>script</key>
          <string>ssh-server {query}</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.terminalcommand</string>
        <key>uid</key>
        <string>71B83D3E-EF1F-401C-A548-BE72B420F7E4</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>148AF002-262F-4B7B-8D49-3F4CB397492F</key>
      <dict>
        <key>xpos</key>
        <integer>1445</integer>
        <key>ypos</key>
        <integer>75</integer>
      </dict>
      <key>71B83D3E-EF1F-401C-A548-BE72B420F7E4</key>
      <dict>
        <key>xpos</key>
        <integer>1085</integer>
        <key>ypos</key>
        <integer>400</integer>
      </dict>
      <key>78CD5B59-191D-4FD0-95CD-7F3A9FFC4D96</key>
      <dict>
        <key>xpos</key>
        <integer>1185</integer>
        <key>ypos</key>
        <integer>35</integer>
      </dict>
      <key>9210581F-B18A-4505-8E5E-3211E8DB5033</key>
      <dict>
        <key>xpos</key>
        <integer>415</integer>
        <key>ypos</key>
        <integer>305</integer>
      </dict>
      <key>ABDB2A97-A0A2-47B2-B7A9-E06C2A77B863</key>
      <dict>
        <key>xpos</key>
        <integer>1285</integer>
        <key>ypos</key>
        <integer>215</integer>
      </dict>
      <key>BEA25ED1-AF10-40F2-AA1C-909BDDA47A05</key>
      <dict>
        <key>xpos</key>
        <integer>905</integer>
        <key>ypos</key>
        <integer>310</integer>
      </dict>
      <key>C1F152B6-BA31-4C09-9A0E-1BC63B766A5A</key>
      <dict>
        <key>xpos</key>
        <integer>645</integer>
        <key>ypos</key>
        <integer>335</integer>
      </dict>
      <key>EC4F7BB5-0344-4435-8B50-B71608C4F067</key>
      <dict>
        <key>xpos</key>
        <integer>1440</integer>
        <key>ypos</key>
        <integer>245</integer>
      </dict>
      <key>EE0297B8-9226-4000-A4AA-9C77BC5E2AC1</key>
      <dict>
        <key>xpos</key>
        <integer>795</integer>
        <key>ypos</key>
        <integer>335</integer>
      </dict>
      <key>F71D835D-F0B8-4A96-B958-24830C4B6522</key>
      <dict>
        <key>xpos</key>
        <integer>1090</integer>
        <key>ypos</key>
        <integer>195</integer>
      </dict>
    </dict>
    <key>version</key>
    <string>1.2.0</string>
    <key>webaddress</key>
    <string>https://github.com/Troublor/ssh-server</string>
  </dict>
</plist>